@import url("reset.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6,span,p,a,input,button,div{
	font-family: "Microsoft JhengHei","Heiti TC","sans-serif";
	text-decoration: none;
}

img{
	display: block;
}

html,body{
	width: 100%;
	height: 100%;
  -webkit-overflow-scrolling: touch;  
}

/* ==================== */
#app {
	width: 1062px;
	height: 5000px;
	margin: 0 auto;
	padding-top: 69px;
}

#app > header {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 48px;
}

#app > header > h1 {
	display: block;
	width: 119px;
	height: auto;
	overflow: hidden;
	float: left;
}

#app > header > h1 > img {
	width: 100%;
	height: auto;	
}

#app > header > nav {
	float: right;
}

#app > header > nav > a {
	font-size: 14px;
	float: left;
	padding: 0px 30px;
	color: #626262;
	line-height: 23px;
}

#app > header > nav > a:last-child {
	padding-right: 0px;
}

#app > .banner {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0 auto 98px auto;
}

#app > .banner > img {
	width: 100%;
	height: auto;
}

#app > article.txt1 {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 0 81px;
}

#app > article.txt1 > p {
	font-size: 14px;
	color: #b4ad9e;
}

#app > article.txt1 > h2 {
	font-size: 30px;
	color: #626262;
	padding-top: 30px
}

#app > article.txt1 > h3 {
	font-size: 14px;
	color: #626262;
	line-height: 28px;
	font-weight: 400;
	padding-top: 38px;
}

#app > .pic {
	width: 899px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;	
	margin-top: 57px;
}

#app > .pic > img {
	width: 100%;
	height: auto;
}

#app > article.txt2 {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 0 81px;
	margin-bottom: 117px;
}

#app > article.txt2 > p {
	font-size: 14px;
	color: #626262;
	font-style: oblique;
	line-height: 28px;
	padding: 57px 21px 37px 21px;
}

#app > article.txt2 > h3 {
	font-weight: 400;
	color: #626262;
	font-size: 14px;
	line-height: 28px;
}

#app > .shareIcon {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-right: 81px;
}

#app > .shareIcon > .box {
	width: 216px;
	height: auto;
	overflow: hidden;	
	float: right;
}

#app > .shareIcon > .box > p {
	color: #b4ad9e;
	font-size: 13px;
	float: left;
}

#app > .shareIcon > .box > ul {
	float: right;
}

#app > .shareIcon > .box > ul > li {
	display: block;
	width: 18px;
	height: 18px;
	float: left;
	margin: 0 6px;
}

#app > .shareIcon > .box > ul > li > a {
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: auto 100%;
}

.fb {
	background-image: url("../images/img/fb.png");
}
.tw {
	background-image: url("../images/img/tw.png");
}
.google {
	background-image: url("../images/img/g.png");
}
.tt {
	background-image: url("../images/img/tumblr.png");
}
.pa {
	background-image: url("../images/img/pinterest.png");
}