@import url("reset.css");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a,
input,
button,
div {
	font-family: "Microsoft JhengHei", "Heiti TC", "sans-serif";
	text-decoration: none;
}

img {
	display: block;
}

html,
body {
	width: 100%;
	height: 100%;
	-webkit-overflow-scrolling: touch;
}

/* ==================== */
#app {
	width: 1062px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	padding-top: 69px;
	padding-bottom: 76px;
}

#app>header {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 48px;
}

#app>header>h1 {
	display: block;
	width: 119px;
	height: auto;
	overflow: hidden;
	float: left;
}

#app>header>h1>img {
	width: 100%;
	height: auto;
}

#app>header>nav {
	float: right;
}

#app>header>nav>a {
	font-size: 14px;
	float: left;
	padding: 0px 30px;
	color: #626262;
	line-height: 23px;
}

#app>header>nav>a:last-child {
	padding-right: 0px;
}

#app>.banner {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0 auto 98px auto;
}

#app>.banner>img {
	width: 100%;
	height: auto;
}

#app>article.txt1 {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 0 81px;
}

#app>article.txt1>p {
	font-size: 14px;
	color: #b4ad9e;
}

#app>article.txt1>h2 {
	font-size: 30px;
	color: #626262;
	padding-top: 30px
}

#app>article.txt1>h3 {
	font-size: 14px;
	color: #626262;
	line-height: 28px;
	font-weight: 400;
	padding-top: 38px;
}

#app>.pic {
	width: 899px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 57px;
}

#app>.pic>img {
	width: 100%;
	height: auto;
}

#app>article.txt2 {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 0 81px;
	margin-bottom: 117px;
}

#app>article.txt2>p {
	font-size: 14px;
	color: #626262;
	font-style: oblique;
	line-height: 28px;
	padding: 57px 21px 37px 21px;
}

#app>article.txt2>h3 {
	font-weight: 400;
	color: #626262;
	font-size: 14px;
	line-height: 28px;
}

#app>.shareIcon {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-right: 81px;
}

#app>.shareIcon>.box {
	width: 216px;
	height: auto;
	overflow: hidden;
	float: right;
}

#app>.shareIcon>.box>p {
	color: #b4ad9e;
	font-size: 13px;
	float: left;
}

#app>.shareIcon>.box>ul {
	float: right;
}

#app>.shareIcon>.box>ul>li {
	display: block;
	width: 18px;
	height: 18px;
	float: left;
	margin: 0 6px;
}

#app>.shareIcon>.box>ul>li>a {
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: auto 100%;
}

.fb {
	background-image: url("../images/img/fb.png");
}

.tw {
	background-image: url("../images/img/tw.png");
}

.google {
	background-image: url("../images/img/g.png");
}

.tt {
	background-image: url("../images/img/tumblr.png");
}

.pa {
	background-image: url("../images/img/pinterest.png");
}

/* ============= */
.photoBox {
	width: 100%;
	height: 435px;
	background-color: #f5f5f5;
	margin-bottom: 34px;
}

.photoBox>.photoMid {
	width: 899px;
	height: 100%;
	margin: 0 auto;
}

.photoBox>.photoMid>h3 {
	font-size: 14px;
	color: #b4ad9e;
	padding-top: 67px;
}

.photoBox>.photoMid>ul {
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 39px;
}

.photoBox>.photoMid>ul>li {
	display: block;
	/* width: 273px;  */
	/* 用 273 / 899 = 0.3036... */
	width: 30.4%;
	height: auto;
	overflow: hidden;
	float: left;
	/* 間距是 39px，一樣改用百分比的方式去算 39 / 899 = 0.043... */
	margin-right: 4.3%;
}

.photoBox>.photoMid>ul>li:last-child {
	margin-right: 0px;
}

.photoBox>.photoMid>ul>li>img {
	width: 100%;
	height: auto;
}

.photoBox>.photoMid>ul>li>h4 {
	font-size: 20px;
	color: #626262;
	line-height: 61px;
}

/* ================= */
footer {
	width: 100%;
	height: 97px;
	background-color: #f5f5f5;
}

footer>section {
	width: 899px;
	height: 100%;
	margin: 0 auto;
}

footer>section>.text {
	float: left;
}

footer>section>.text>a {
	font-size: 14px;
	color: black;
	float: left;
	line-height: 97px;
	margin-right: 30px;
}

footer>section>.followIcon {
	float: right;
}

footer>section>.followIcon>p {
	line-height: 97px;
	float: left;
}

footer>section>.followIcon>ul {
	float: left;
	margin-top: 41px;
}

footer>section>.followIcon>ul>li {
	display: block;
	width: 15px;
	height: 15px;
	float: left;
	margin-left: 18px;
}

footer>section>.followIcon>ul>li>a {
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: auto 100%;
}

.f_fb {
	background-image: url("../images/img/facebook.png");
}

.f_tw {
	background-image: url("../images/img/twitter.png");
}

.f_ig {
	background-image: url("../images/img/instagram.png");
}

/* RWD ================== */
@media screen and (max-width: 1110px){
	#app {
		width: 90%;
		padding-top: 69px;
		padding-bottom: 76px;
	}

	#app>.banner {
		margin: 0 auto 62px auto;
	}

	#app>article.txt1 {
		padding: 0 7.7%;
	}

	#app>article.txt1>h2 {
		padding-top: 20px
	}
	
	#app>article.txt1>h3 {
		padding-top: 26px;
	}

	#app>.pic {
		width: 90%;
		margin-top: 57px;
	}


	#app>article.txt2 {
		padding: 0 12%;
		margin-bottom: 117px;
	}
	
	#app>article.txt2>p {
		padding: 35px 2.4% 20px 2.4%;
	}
	
	.photoBox {
		width: 100%;
		height: auto;
		overflow: hidden;
		background-color: #f5f5f5;
		margin-bottom: 34px;
		padding-bottom: 40px;
	}
	
	.photoBox>.photoMid {
		width: 90%;
		height: 100%;
		margin: 0 auto;
	}

	.photoBox>.photoMid>ul>li>h4 {
		font-size: 14px;
	}
	
	footer>section {
		width: 90%;
		height: 100%;
		margin: 0 auto;
	}
}