@import url("reset.css");
*{
	margin:0;
	padding:0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	font-family: "Microsoft JhengHei","Heiti TC","sans-serif";
}
img{
    display: block;
}
html,body{
    width: 100%;
    height: 100%;
}

/* header */
header {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #373c3f;
}

#menubtn {
    display: none;
}

header > nav {
    width: 1024px;
    height: 97px;
    margin: 0 auto;    
}

header > nav > h1 {
    line-height: 97px;
    color: #fff;
    font-size: 18px;
    float: left;
}

header > nav > div {
    color: #fff;
    font-size: 18px;
    float: left;
    padding-left: 20px;
}

header > nav > div > a {
    display: block;
    line-height: 97px;
    padding: 0 10px;
    float: left;
    color: #fff;
}

/* banner */
article {
    position: relative;
    width: 100%;
    height: 577px;
    background-image: url("../images/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
}

article > div {
    position: absolute;
    top: 50%;    
    left: 50%;
    width: 740px;
    height: 275px;
    margin-top: -138px;
    margin-left: -500px;

    /* background-image: url("../images/rightbtn.jpg");
    background-repeat: no-repeat;
    background-size: 19px 30px;
    background-position: right bottom; */
}

article > div > h1 {
    font-size: 73px;
    color: #fff;
}

.cta-link {
    position: relative;
}

.cta-link > p {
    padding-top: 43px;
    font-size: 26px;
    color: #a9d7e1;
}


.icon-arrow_right {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;

    position: absolute;
    left: calc(100% - 24px);
    bottom: 0;
}

.icon-arrow_right > span {
    display: block;
    width: 6px;
    height: 1rem;
    font-weight: bold;
    background-color: #fff;
    border-radius: 2px;
}

.icon-arrow_right > span:first-child {
    transform: rotate(-45deg) translate(6px, 10px);
}

.icon-arrow_right > span:last-child {
    transform: rotate(45deg) translate(6px, -10px);
}

aside {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #27212c;
}

aside > div {
    width: 1024px;
    height: 243px;
    margin: 0 auto;    
}

aside > div > h3 {
    display: block;
    width: 77%;
    height: 244px;
    float: left;
    color: #9685a4;
    line-height: 244px;
}

aside > div > a {
    display: block;
    width: 23%;
    height: 244px;
    float: left;
    background-color: #bc3183;
    background-image: url("../images/rightbtn.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

main {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #5b0fa1;
}

main > div {
    width: 1024px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}

main > div > div {
    width: 33.33%;
    height: 294px;
    float: left;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.box1 {
    background-image: url("../images/rightbtn2.jpg");
    background-size: 20px 31px;
}

.box2 {
    background-image: url("../images/r1.jpg");
}

.box3 {
    background-image: url("../images/r2.jpg");
}

footer {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #ebebeb;
}

footer > div {
    width: 1024px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding: 51px 84px 170px 84px;
}

footer > div > div {
    width: 45%;
    height: auto;
    overflow: hidden;
}

footer > div > div.leftbox {
    float: left;
}

footer > div > div.rightbox {
    float: right;
    padding-top: 70px;
}

footer > div > div > p {
    font-size: 14px;
    color: #515151;
    padding-bottom: 46px;
}

div.leftbox > h3 {
    font-size: 30px;
    color: #008ca5;
    margin-bottom: 33px;
}


@media screen and (max-width: 1024px) {
    header > nav,
    article > div,
    aside > div,
    main > div,
    footer > div {
        width: 100%;
    }

    header > nav {
        padding-left: 53px;
    }

    article {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    article > div {
        position: static;
        top: 0%;    
        left: 0%;
        /* width: 740px; */
        /* height: 275px; */
        margin-top: 0px;
        margin-left: 0px;
        height: auto;

        padding-left: 8%;
        padding-right: 21%;

        /* background-image: url("../images/rightbtn.jpg");
        background-repeat: no-repeat;
        background-size: 19px 30px;
        background-position: right bottom; */
    }

    aside > div > h3 {
        padding-left: 8%;
        padding-right: 8%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }


}

@media screen and (max-width: 640px) {
    #menubtn {
        display: block;
        width: 82px;
        height: 79px;
        background-image: url("../images/menu.jpg");
        float: right;
    }

    header > nav {
        transition: height 0.3s;
        height: 74px;
        overflow: hidden;
    }

    header > nav.open {
        height: 444px;
    }

    header > nav > h1 {
        line-height: 74px;
    }

    header > nav > div {
        padding-left: 0px;
        float: none;
        clear: both;
        width: 100%;
        height: auto;
    }

    header > nav > div > a {
        line-height: 74px;
        width: 100%;
        height: auto;
        overflow: hidden;
        text-align: center;
    }

    article {
        height: 348px;
    }

    article > div > h1 {
        font-size: 40px;
        color: #fff;
    }

    .cta-link > p {
        padding-top: 30px;
        font-size: 18px;
    }
    

    aside > div {
        height: 150px;        
    }

    aside > div > h3 {
        height: 100%;
        line-height: 150px;
    }

    aside > div > a {
        height: 100%;
    }

    main > div > div {
        /* 
            之前 10-3的部分有學過這個概念，讓它等比例縮放 
            就是用想要呈現的 (圖片高度 / 裝置高度) * 100 %
            老師這裡的
                * 圖片在設計稿裡面的高度是 550px
                * 裝置高度是抓 iPhone 6 Plus的高度 736px
            所以算出來大約是 74.7%，直接取 75%            
        */
        padding-top: 75%;
        width: 100%;
        height: auto;
        float: none;
    }

    footer > div {
        padding: 12%;
    }

    footer > div > div {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    footer > div > div.leftbox {
        float: left;
    }

    footer > div > div.rightbox {
        float: right;
        padding-top: 0px;
    }

    footer > div > div > p {
        font-size: 18px;
        color: #515151;
        padding-bottom: 72px;
        line-height: 38px;
    }

    div.leftbox > h3 {
        font-size: 24px;
        color: #008ca5;
        margin-bottom: 57px;
    }

}

@media screen and (max-width: 320px) {
    #menubtn {
        display: block;
        width: 41px;
        height: 37px;
        background-size: 100% 100%;
        float: right;
    }

    header > nav {
        transition: height 0.3s;
        height: 37px;
        overflow: hidden;
        padding-left: 19px;
    }

    header > nav.open {
        height: 222px;
    }

    header > nav > h1 {
        line-height: 37px;
    }

    header > nav > div > a {
        line-height: 37px;
    }

    article {
        height: 175px;
    }

    article > div > h1 {
        font-size: 25px;
        color: #fff;
    }

    .cta-link > p {
        padding-top: 15px;
        font-size: 14px;
    }

    aside > div {
        height: 75px;        
    }

    aside > div > h3 {
        line-height: 75px;
        font-size: 14px;
    }

    aside > div > a {
        background-size: 9px 14px;
    }

    footer > div > div > p {
        padding-bottom: 36px;
        line-height: 30px;
    }

    div.leftbox > h3 {
        margin-bottom: 25px;
    }
}